.black-btn {
    transition: 0.15s;
    width: 100%;
    border: none;
    font-family: "MetropolisBold";
    font-size: 1em;
    text-transform: uppercase;
    color: var(--white);
    padding: 21px 13px 19px;
    line-height: 1.22em;

    background-color: var(--black);
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;

    &:hover {
        opacity: 0.8;
    }
    &:active {
        transform: scale(95%);
        opacity: 0.8;
    }

    @media (max-width: 1024px) {
        padding: 12px 13px 11px;
    }

    @media (max-width: 767px) {
        max-height: 37px;
    }
}
