//step item
.step {
    position: relative;
}
.step__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.step__content {
    max-width: 481px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;

    @media (max-width: 1024px) {
        gap: 10px;
        flex: 1 1 55%;
    }
}
.step__number {
    color: var(--black-light);
    line-height: 105%;
}
.step__description {
}

// step description
.step-description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 10px;

    @media (max-width: 1024px) {
        gap: 10px;
        padding-bottom: 0px;
    }
}
.step-description__title {
    line-height: 105% !important;
}
.step-description__text {
}
.step-description__list {
    > li {
        line-height: 130%;
    }
    margin-left: 30px;
    list-style: decimal;
}

.step__btns-block {
    display: flex;

    gap: 20px;
    white-space: nowrap;
    @media (max-width: 768px) {
        padding-top: 5px;
    }
}

.step__btns-block,
.step__continue-btn {
    width: 100%;
    max-width: 380px;

    @media (max-width: 767px) {
        align-self: center;

        > img {
            width: 20px;
        }
    }
}

.step__continue-btn {
    @media (max-width: 768px) {
        max-width: 280px;
    }
}

.step__image {
    opacity: 0.3;
    width: 100%;
    max-width: 477px;
    > img {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }

    @media (max-width: 1024px) {
        gap: 10px;
        flex: 1 1 40%;
    }

    @media (max-width: 767px) {
        display: none;

        max-width: 260px;
        align-self: center;
    }
}

//step 1
.step-1 {
    max-height: 501px;
}

// step 2
.step-2 {
}

.step-2-description__title {
    white-space: nowrap;
}
.step-2__row {
    gap: 30px;
    @media (max-width: 767px) {
        flex-direction: column;
        gap: 60px;
    }
}
.step-2__image {
    opacity: 1;
    display: block;
}
.step-2__btn {
    margin-top: 10px;
}
.step-2__press-here {
    position: absolute;
    left: 51%;
    bottom: -65px;
    transform: translate(-50%, 0);
}

//step 3
.step-3__no-btn {
    opacity: 0.6;
}

//step 4
.step-4 {
    @media (max-width: 1024px) {
        padding: 23px 0 35px;
    }
    @media (max-width: 767px) {
        padding: 0;
    }
}
.step-4__custom-list {
    max-width: 459px;

    @media (max-width: 767px) {
        padding-left: 10px;
    }
}
.step-custom-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media (max-width: 1024px) {
        gap: 10px;
    }
}
.step-custom-list__item {
    display: flex;
    align-items: center;
    gap: 13px;
}
.step-custom-list__marker {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 28px;
    height: 28px;
    border-radius: 50%;

    @media (max-width: 1024px) {
        font-size: 80%;
        min-width: 20px;
        height: 20px;
        > img {
            width: 13px;
        }
    }

    background-color: var(--black);
    color: var(--white);
}
.step-4__btns-block {
    flex-direction: column;
    padding-top: 5px;

    @media (max-width: 1024px) {
        gap: 15px;
    }
}
.step-4__dont-like-btn {
    font-family: "MetropolisBold";
    background-color: transparent;
    border: none;
    color: var(--black-light);
}

// step 5
.step-5 {
    @media (max-width: 1024px) {
        padding: 39px 0 43px;
    }

    @media (max-width: 767px) {
        padding: 0;
    }
}
.step-5__row {
    gap: 0px;
}
.step-5__description {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @media (max-width: 1024px) {
        gap: 10px;
    }
}
.step-5-description__title {
    line-height: 103% !important;
}
.step-5-description__text-blocks {
    display: flex;
    flex-direction: column;
    gap: 56px;
    @media (max-width: 1024px) {
        gap: 20px;
    }
}
.step-5-description__text-block {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (max-width: 1024px) {
        gap: 10px;
    }

    &:last-child {
        max-width: 380px;

        @media (max-width: 768px) {
            max-width: 280px;
        }
    }
}
.step-5-description__text-block-bottom-text {
    font-family: "MetropolisRegularItalic";
    color: var(--black-light);
    font-size: 0.74em;

    width: max-content;
}
// press here
.press-here {
    // pointer-events: none;
    // user-select: none;
    display: inline-flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 1024px) {
        left: 62%;
        bottom: 82px;
    }
}
.press-here__title {
    font-family: "MetropolisBold";
    color: var(--red);
    font-size: 1.333em;

    transform: translate(0px, 23px);

    @media (max-width: 1279px) {
        transform: translate(-10px, 13px);
    }

    @media (max-width: 767px) {
        transform: translate(-40%, 53px);
    }
}
.press-here__arrow-img {
    @media (max-width: 1279px) {
        width: 165px;
        transform: rotate(-10deg);
    }

    @media (max-width: 767px) {
        width: 115px;
        transform: translate(-25%, 0) scale(-1, 1);
    }
}
