.how-to-container {
}
.how-to-container__body {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (max-width: 767px) {
        gap: 11px;
    }
}
.how-to-container__title {
}
.how-to-container__row {
    display: flex;
    gap: 23px;
    @media (max-width: 1279px) {
        gap: 13px;
    }
    @media (max-width: 767px) {
        flex-wrap: wrap;
        justify-content: center;
        max-width: 275px;
        align-self: center;
    }
}
.how-to-container__arrow {
    align-self: center;
    transform: translateY(-10px);
    @media (max-width: 1279px) {
        width: 14px;
    }
}
