.step-by-step {
    width: 48px;
    height: 490px;

    @media (max-width: 1024px) {
        width: 23px;
        height: 306px;
    }

    @media (max-width: 767px) {
        width: 100%;
    }
}
.step-by-step__column {
    height: 100%;
    display: grid;
    grid-template-rows: 36px;
    grid-auto-rows: 1fr;
    justify-content: center;
    @media (max-width: 1024px) {
        grid-template-rows: 23px;
    }

    @media (max-width: 767px) {
        grid-template-columns: 1fr;
        grid-template-columns: auto 1fr 1fr 1fr 1fr;
        grid-auto-flow: row;
    }
}
.step-by-step__item {
    @media (max-width: 767px) {
        display: flex;
        align-items: center;
    }
}
.step-by-step__item--first {
}
.step-by-step__item {
    width: 100%;

    position: relative;
}
.step-by-step__ball,
.step-by-step__stick {
    transition: 0.3s;
}

.step-by-step__stick {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    height: 100%;
    width: 2px;
    background-color: var(--grey-border);

    @media (max-width: 767px) {
        height: 2px;
        width: 100%;
    }
}
.step-by-step__ball {
    z-index: 2;

    position: absolute;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: var(--white);
    background-color: var(--grey-border);

    box-shadow: 0px 0px 0px -3px var(--white), 0px 0px 0px 0px var(--blue);

    @media (max-width: 1024px) {
        width: 23px;
        height: 23px;
    }

    @media (max-width: 767px) {
        bottom: 0;
        right: 0;
    }
}

.step-by-step__item.step-by-step__item--first {
    > .step-by-step__stick {
        display: none;
    }

    > .step-by-step__ball {
        position: relative;
    }
}

.step-by-step__item--cheked {
    > .step-by-step__stick,
    > .step-by-step__ball {
        background-color: var(--blue);
    }
}
.step-by-step__item--current {
    > .step-by-step__ball {
        @media (max-width: 1024px) {
            box-shadow: 0px 0px 0px 3px var(--white),
                0px 0px 0px 4px var(--blue);
        }
    }
}
